* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
}

p {
  font-size: 1.125rem;
}

main {
  background-color: var(--main-bg-col);
  min-height: 100vh;
  position: relative;
}

.bg-pattern {
  position: absolute;
}

#bg-pattern-top {
  top: -60%;
  left: -20%;
}

#bg-pattern-bottom {
  bottom: -60%;
  right: -20%;
}