:root {
  --main-bg-col: hsl(185, 75%, 39%);
  --h-col: hsl(229, 23%, 23%);
  --p-col: hsl(227, 10%, 46%);
  --line-col: hsl(0, 0%, 59%);
  --font-family: 'Kumbh Sans', sans-serif;
}

.flex-row {
  display: flex;
  flex-direction: row;
}
.flex-column {
  display: flex;
  flex-direction: column;
}

.bold-text {
  color: var(--h-col);
  font-size: 1.5rem;
  font-weight: 700;
}

.light-text {
  color: var(--p-col);
  font-weight: 400;
}